$themes: (
  light: (
    background_color: #F8FAFC,
    background_color_2: rgba(#F8FAFC, 0.8),
    button_color_1: #59C292,
    button_color_2: #EEF2F6,
    button_color_3: rgba(#59C292, 0.3),
    card_color: #FFFFFF,
    text_color_1: #35485C,
    text_color_2: #636F7A,
    text_color_3: #606f7b,
    error_color: #f56565,
    warring_color: #f6ad55,
    blue_color: #03c2e6,
    purple_ccolor: #935FA7,
  ),
  dark: (
    background_color: #303D4E,
    background_color_2: rgba(#303D4E, 0.8),
    button_color_1: #59C292,
    button_color_2: #EEF2F6,
    button_color_3: rgba(#59c292, 0.3),
    card_color: #35485C,
    text_color_1: #F5F7FA,
    text_color_2: #BAC2CB,
    text_color_3: #b8c2cc,
    error_color: #f56565,
    warring_color: #f6ad55,
    blue_color: #03c2e6,
    purple_ccolor: #935FA7,
  ),
);
